@import '/src/styles/variables.scss';

.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.9rem;
}

.card:hover {
  transform: scale(1.05);
}

.work-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-right: $icon-size;
}
